
// Theme colors
.light {
    --highlight-primary: #3367d6;
    --highlight-secondary: #4285f4;
    --highlight-hover: #5a95f5;
    --background: #f5f5f5;
    --card-background: #ffffff;
    --text: #363636;
    --text-header: #ffffff;
    --text-title: #303030;
    --text-subtitle: #424242;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --link: #3273dc;
    --link-hover: #363636;
    --background-image: none;

    --highlight-variant-inverted: #363636;
}

.dark {
    --highlight-primary: #3367d6;
    --highlight-secondary: #4285f4;
    --highlight-hover: #5a95f5;
    --background: #131313;
    --card-background: #282828;
    --text: #eaeaea;
    --text-header: #ffffff;
    --text-title: #fafafa;
    --text-subtitle: #b6b6b6;
    --card-shadow: rgba(0, 0, 0, 0.4);
    --link: #3273dc;
    --link-hover: #144aa2;
    --background-image: none;

    --highlight-variant-inverted: #f5f5f5;
}

#app {
    --highlight-blue: #444B6E;
    --highlight-red: #C83E4D;
    --highlight-pink: #FF6392;
    --highlight-orange: #FF8A08;
    --highlight-green: #22A699;
    --highlight-purple: #711DB0;
}
